#resultContainer {
	margin-top: 30px;	 
}
#sendButton {
	margin-top: 10px;
	margin-right: 5px;
}
#clearButton {
	margin-top: 10px;
	margin-right: 5px;
}
#readButton {
	margin-top: 10px;
	margin-right: 5px;
}