<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title th:text="${@environment.getProperty('spring.application.name') + ' :: ' + pageObject.title}">Website Builder</title>
    
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    
    <link th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.css}" rel="stylesheet"/>
    
</head>
<body>
<div id="topNavigationSection" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}"><i class="fa fa-home"></i> Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" th:href="@{/#pricingHeader}">Pricing</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/#supportSection}">Support</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/home}">Control Panel</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>




<div th:insert="~{${contentTemplate}}"></div>

<div id="footerSection" class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">&copy; 2024</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>

</div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>