<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title th:text="${@environment.getProperty('spring.application.name')}">Website Builder</title>
    
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    
    <link th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.css}" rel="stylesheet"/>
    
</head>
<body>
<div id="topNavigationSection" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}"><i class="fa fa-home"></i> Home Link</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          	<li class="nav-item"><a class="nav-link" th:href="@{/link}"><i class="fa  fa-files-o"></i> Internal Link</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/link}"><i class="fa  fa-files-o"></i> Another Link</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/link}"  target="_blank"><i class="fa  fa-files-o"></i> New Window Link  <i class="fa fa-external-link"></i></a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-gear"></i> Dropdown Menu 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-header">Menu Header</li>
	              <li><a class="dropdown-item" th:href="@{/item}" target="_blank">Menu item <i class="fa fa-external-link"></i></a></li>
	              <li><a class="dropdown-item" th:href="@{/item}" target="_blank">Menu item <i class="fa fa-external-link"></i></a></li>
	              <li><a class="dropdown-item" th:href="@{/item}" target="_blank">Menu item <i class="fa fa-external-link"></i></a></li>
	              <li><hr class="dropdown-divider"></li>
	              <li class="dropdown-header">Another Header</li>
	              <li><a class="dropdown-item" th:href="@{/item}" target="_blank">Menu item <i class="fa fa-external-link"></i></a></li>
	              <li><a class="dropdown-item" th:href="@{/item}" target="_blank">Menu item <i class="fa fa-external-link"></i></a></li>
	              <li><a class="dropdown-item" th:href="@{/item}" target="_blank">Menu item <i class="fa fa-external-link"></i></a></li>
	              <li><hr class="dropdown-divider"></li>
	              <li class="dropdown-header">Last Header</li>
	              <li><a  class="dropdown-item" th:href="@{/link}"><i class="fa fa-list"></i> Last Item</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>


<div th:insert="~{${contentTemplate}}"></div>


<div id="footerSection" class="container border-top mt-5 py-5">
    	<span>
      		&copy; 2024&nbsp;
      		<ul>
      			<li><a href="link1" title="Link" class="text-body-secondary" target="_blank"> Footer Link 1</a></li>
      			<li><a href="link2" title="Link" class="text-body-secondary" target="_blank"> Footer Link 2</a></li>
      			<li><a href="link3" title="Link" class="text-body-secondary" target="_blank"> Footer Link 3</a></li>
      		</ul>
		</span>
</div>

	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>

	<link th:href="@{/css/custom-functions.css}" rel="stylesheet"/>
	<script th:src="@{/js/custom-functions.js}"></script>
	
</body>
</html>