<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title th:text="${@environment.getProperty('spring.application.name')+ ' :: ' + loginPage.title}">Website Builder</title>
    
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    
    <link th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.css}" rel="stylesheet"/>
    
</head>
<body>

	<div id="loginSection" class="container border-top mt-5 py-5">
			<h1>Log In</h1>
			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/login}" method="post">
				<div class="row">
					<div class="col m-3">
						<input type="text" name="username" placeholder="Username" value="admin" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="col m-3">
						<input type="password" name="password" placeholder="Password" value="password" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="col m-3">
						<button type="submit" value="Log in" class="btn btn-primary" ><i class="fa fa-lock"></i> Log In To Contol Panel</button>
						<a th:href="@{/}" class="btn btn-success"><i class="fa fa-home"></i> Navigate To Home Page</a>
					</div>
				</div>
			</form>
	</div>
	
			
	<div id="footerSection" class="container border-top mt-5 py-5">
	    	<span>
	      		&copy; 2024&nbsp;
			</span>
	</div>

	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>